  <h3>Add To Your List</h3>

  <p>Keep track of stuff you like, stuff you love... it's your list. Put whatever you want on it. </p>

  <form action="/gifts" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>

    <p>
      <label for="gift_nickname" class="form-label">Item Nickname</label>
      <input name="gift[nickname]" id="gift_nickname" placeholder="Sweet Shoes!" autofocus="autofocus">

    </p>

    <p>
      <label for="gift_gift_url" class="form-label">Item Url</label>
      <input name="gift[gift_url]" id="gift_url" placeholder="http://www.example.com">
    </p>

    <p>
      <input type="submit" value="Add Item!" class="form-button">
    </p>
  </form>

