<div class="just-added">
  <h3>Just Added</h3>

  <dl class="attributes">
    <dt>Nickname</dt>
    <dl><%= @gift.nickname %></dl>
    <dt>Url</dt>
    <dl><%= @gift.url %></dl>
  </dl>
  <p class="back-link">
    <%= link_to 'Back to my list', :back  %>
  </p>
</div>

