/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
    display: block;
    margin: 0 auto;
    max-width: 1040px;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    font-weight: 700;
    z-index: 1;
}


body {
    color: #0f2a36;
    font-family: 'Open Sans', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans",
    "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L",
    Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25em;
}

h1 {
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright,
    "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif",
    Georgia, serif;
    font-size: 81px;
    font-weight: 800;
    color: #00374F;
    padding-top: 30px;
    margin-top: 30px;
    position: relative;
    text-align: center;
    z-index: 1;
}

h1:before {
    border-top: 3px solid #CC3300;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 40px; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
}

h1 span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #fff;
    padding: 0 15px;
}

h1.double:before {
    /* this is just to undo the :before styling from above */
    border-top: none;
}

h1.double:after {
    border-bottom: 1px solid blue;
    -webkit-box-shadow: 0 1px 0 0 red;
    -moz-box-shadow: 0 1px 0 0 red;
    box-shadow: 0 1px 0 0 red;
    content: "";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute;
    top: 45%; left: 0; right: 0;
    width: 95%;
    z-index: -1;
}

h2 {
    color: #dd3b2a;
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright,
    "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif",
    Georgia, serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.25em;
    margin: 0.5em 0;
}
h3 {
    color: #dd3b2a;
    font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright,
    "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif",
    Georgia, serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.25em;
    margin: 0.5em 0;
}
h3 + p {
    margin-top: 0;
}
a {
    color: #2babe1;
    text-decoration: none;
}

p {
    color: #333366;
    display: block;
    font-size: 1.15em;
    font-weight: 500;
    line-height: 1.5em;
    font-family: 'Open Sans', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT",
    "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L",
    Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.container {
    margin: auto;
    width: 100%;
    padding-left: 145px;
    padding-right: 145px;

}

.half {
    margin: 0 0 0 15px;
    width: 75%;
    border-top: 3px solid #CC3300;
    padding-top: 20px;
}

.create_account {
    float: right;
    width: 45%;
    margin-right: 0px;

}

.login-button {
    margin-left: 140px;
    font-weight: 500;

}

.login-button-2 {
    margin-left: 280px;
    font-weight: 500;

}

.login {
    float: left;
    width: 40%;
    margin-left: 50px;
}

.remember-me {
    margin-left: 5px;
}

.confirmation {
    width: 177px;
}

.what_is {
    display: block;
    width: 75%;
    padding: 30px;

}

.what_is p {
    padding-left: 20px;
    padding-right: 20px;
}

.flash_notice_login {
    color: red;
    font-weight: bold;
    padding-left: 110px;
}

.flash_info {
    color: red;
    padding-left: 30px;
    font-weight: bold;
}

.create_notice {
    padding-left: 0px;
    color: red;
    font-weight: bold;
}


.form-label {
    color: #CC3300;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25em;
    display: inline-block;
    margin-left: 5px;
    width: 100px;
}

.form-button {
    margin-left: 265px;
    font-weight: 500;
}

.create-button {
    margin-left: 200px;
    font-weight: 500;
}

.create-button-2 {
    margin-left: 160px;
    font-weight: 500;
}

.error-list ul {
    list-style-type: none;
}

.field_with_errors {
    display: inline;
}

.field_with_errors ul, li {
    color: red;
    list-style-type: none;
}

.devise-links {
    margin-top: 10px;
    margin-left: 6px;
    color: #CC3300;
}

.devise-links a {
    color: #CC3300;
}

.alerts {
    margin-left: 200px;
}

.alert {
    color: red;
}

#error_explanation h2 {
    font-size: 20px;

}

#error_explanation ul {
    margin-left: 80px;

}

.reset-button {
    margin-left: 205px;
}